<!DOCTYPE html>
<html ng-app="VoxROApp" ng-controller="MainPageController as mpCtrl">
	<head>
		<title>Vox Ragnarok Online</title>
		<% include common/head %>
		<script type="text/javascript" src="/scripts/main.js"></script>
		<script type="text/javascript" src="/scripts/register.js"></script>
	</head>
	<body>
		<% include common/top %>
		
		
				<div id="centerContainer">
					<div id="announcementsContainer">
						<div id="lblAnnouncement"><h2>ANNOUNCEMENT</h2></div>
						<div id="articleNav">
							<div id="pnButtonContainer">
								<div id="btnArticlePrev" ng-click="mpCtrl.prevNews()"><img src="/images/emp_arrow_left.png" /></div>
								<div id="articleNumber">{{ mpCtrl.newsNo }} of {{ mpCtrl.news.length }}</div>
								<div id="btnArticleNext" ng-click="mpCtrl.nextNews()"><img src="/images/emp_arrow_right.png" /></div>
							</div>
						</div>
						<div id="articleItems">
							<article ng-init="mpCtrl.updateNews()" class="articleItem" ng-repeat="news in mpCtrl.news" data-index="{{ $index }}" >
								<div class="articleContent">
									<div class="articleRight">
										<div class="articleUserAvatar">
											<img ng-show="news.avatar_url" src="http://forum.voxro.net{{ news.avatar_url }}" alt="avatar"/>
											<img ng-show="!news.avatar_url" src="/images/default_avatar.jpg" alt="avatar"/>
										</div>
										<div class="articleUserName">{{ news.poster_name }}</div>
									</div>
									<div class="articleLeft">
										<div class="articleTitle"><a href="http://forum.voxro.net/topic/{{ news.url }}" target="_blank">{{ news.title }}</a></div>
										<div class="articleDate">{{ news.timestamp | date : MM/d/yyyy}}</div>
										<div class="articleText"><pre>{{ news.content }}</pre></div>
									</div>
								</div>
							</article>
						</div>
						<div id="articleNav">
							<div id="pnButtonContainer">
								<div id="btnArticlePrev" ng-click="mpCtrl.prevNews()"><img src="/images/emp_arrow_left.png" /></div>
								<div id="articleNumber">{{ mpCtrl.newsNo }} of {{ mpCtrl.news.length }}</div>
								<div id="btnArticleNext" ng-click="mpCtrl.nextNews()"><img src="/images/emp_arrow_right.png" /></div>
							</div>
						</div>
					</div>
					
					
					<% include common/ad %>
					<% include common/footer %>
				</div>
		<% include common/bottom %>
	</body>
</html>