<!DOCTYPE html>
<html ng-app="VoxROApp" ng-controller="MainPageController as mpCtrl">
	<head>
		<title>Vox Ragnarok Online</title>
		<link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css' />
		<link href='/fonts/lithos_pro/stylesheet.css' rel='stylesheet' type='text/css' />
		<link href='/stylesheets/pace.css' rel='stylesheet' type='text/css' />
		<link href='/stylesheets/index.css' rel='stylesheet' type='text/css' />
		
		<meta property="og:image" content="/images/banner.jpg"/>
		<meta property="og:title" content="Vox Ragnarok Online"/>
		<meta property="og:url" content="http://voxro.net"/>
		<meta property="og:site_name" content="Vox Ragnarok Online"/>
		
		<script type="text/javascript" src="/scripts/common/pace.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
		<script type="text/javascript" src="/scripts/main.js"></script>
	</head>
	<body>
		
		<!--- facebook ---->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=945556012147297";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<!---------------------------------->
		
		<div id="mainContainer">
			<div id="mainContainerFix">
				<div id="logo"><img src="/images/logo.png" alt="logo"/></div>
				<div id="serverStatusContainer">
					<div class="lblServerStatus">Server Status</div>
					<div class="lblServerStatus value" style="color: #27e735;">ON</div>
					<div class="lblServerStatus">Players Online</div>
					<div class="lblServerStatus value">1,234</div>
					<div class="lblServerStatus">Peak</div>
					<div class="lblServerStatus value">9,999</div>
				</div>
				<div id="menuContainer">
					<div id="topMenu">
						<ul>
							<li id="btnHome">
								<span><img src="/images/home-icon.png" alt="btn_home"/></span>
								<span><a href="#">Home</a></span>
							</li>
							<li id="btnForum">
								<span><img src="/images/forum-icon.png" alt="btn_forum"/></span>
								<span><a href="http://forum.voxro.net" target="_blank">Forum</a></span>
							</li>
							<li id="btnFeatures">
								<span><img src="/images/features-icon.png" alt="btn_features"/></span>
								<span><a href="#">Features</a></span>
							</li>
							<li id="btnMedia">
								<span><img src="/images/media-icon.png" alt="btn_media"/></span>
								<span><a href="#">Media</a></span>
							</li>
						</ul>
					</div>
				</div>
				
				<div id="leftSideContainer">
					<div id="download">
						<div id="downloadGirl">
							<img src="/images/download-girl.png" alt="download girl"/>
						</div>
						<div id="downloadLeftSide">
							<div id="lblDownloadClient">Download Client</div>
							<button id="btnSmallClient" class="btnDownloads">Small Client</button>
							<button id="btnFullClient" class="btnDownloads">Full Client</button>
						</div>
					</div>
					<div id="leftMenu">
						<div id="lblNavigation"><span style="font-size: 25px">N</span>AVIGATION</div>
						<div id="leftMenuItems">
							<ul>
								<li>
									<span><img src="/images/ranking-icon.png" /></span>
									<span><a href="#">Ranking</a></span>
								</li>
								<li>
									<span><img src="/images/woe-icon.png" /></span>
									<span><a href="#">War of Emperium</a></span>
								</li>
								<li>
									<span><img src="/images/status-icon.png" /></span>
									<span><a href="#">Status</a></span>
								</li>
								<li>
									<span><img src="/images/gm-icon.png" /></span>
									<span><a href="#">GMs</a></span>
								</li>
								<li>
									<span><img src="/images/contact-icon.png" /></span>
									<span><a href="#">Contacts</a></span>
								</li>
							</ul>
						</div>
					</div>
					
					<div id="socialButtons">
						<div id="lblSocialLinks"><span style="font-size: 25px">S</span>OCIAL LINKS</div>
						<div id="socialButtonContainer">
							<div class="fb-page" data-href="https://www.facebook.com/voxro" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/voxro"><a href="https://www.facebook.com/voxro">Vox Ragnarok Online</a></blockquote></div></div>
						</div>
					</div>
				</div>
				
				<div id="centerContainer">
					<div id="announcementsContainer">
						<div id="lblAnnouncement"><h2>ANNOUNCEMENT</h2></div>
						<div id="articleNav">
							<div id="pnButtonContainer">
								<div id="btnArticlePrev" ng-click="mpCtrl.prevNews()"><img src="/images/emp_arrow_left.png" /></div>
								<div id="articleNumber">{{ mpCtrl.newsNo }} of {{ mpCtrl.news.length }}</div>
								<div id="btnArticleNext" ng-click="mpCtrl.nextNews()"><img src="/images/emp_arrow_right.png" /></div>
							</div>
						</div>
						<div id="articleItems">
							<article ng-init="mpCtrl.updateNews()" class="articleItem" ng-repeat="news in mpCtrl.news" data-index="{{ $index }}" >
								<div class="articleContent">
									<div class="articleRight">
										<div class="articleUserAvatar">
											<img src="http://forum.voxro.net{{ news.avatar_url }}" alt="avatar"/>
										</div>
										<div class="articleUserName">{{ news.poster_name }}</div>
									</div>
									<div class="articleLeft">
										<div class="articleTitle"><a href="http://forum.voxro.net/topic/{{ news.url }}" target="_blank">{{ news.title }}</a></div>
										<div class="articleDate">{{ news.timestamp | date : MM/d/yyyy}}</div>
										<div class="articleText"><pre>{{ news.content }}</pre></div>
									</div>
								</div>
							</article>
						</div>
						<div id="articleNav">
							<div id="pnButtonContainer">
								<div id="btnArticlePrev" ng-click="mpCtrl.prevNews()"><img src="/images/emp_arrow_left.png" /></div>
								<div id="articleNumber">{{ mpCtrl.newsNo }} of {{ mpCtrl.news.length }}</div>
								<div id="btnArticleNext" ng-click="mpCtrl.nextNews()"><img src="/images/emp_arrow_right.png" /></div>
							</div>
						</div>
					</div>
					
					
					<div id="adContainer">
						<div id="adNavBar">
						</div>
						<div id="adContent">AD SPACE AVAILABLE</div>
					</div>
					
					<div id="copyright">Copyright © 2015 - 2016 voxro.net</div>
				</div>
				
				<div id="rightSideContainer">
					<div id="loginForm">
						<div id="lblLoginHere"><span style="font-size: 25px">L</span>ogin <span style="font-size: 25px">H</span>ere!</div>
							
						<div id="loginInputContainer">
							<label>username</label>
							<input type="text" />
						</div>
						
						<div id="passwordInputContainer">
							<label>password</label>
							<input type="password" />
						</div>
						
						<div id="btnLoginContainer">
							<button><span style="display: inline-block;">LOGIN</span><span style="display: inline-block; margin-top: -40px;"><img src="/images/1109.gif" /></span></button>
						</div>
						
						<div id="lblForgotPassword"><a href="#">Forgot your PASSWORD?</a></div>
						
					</div>
					
					<div id="btnRegister">
						<a href="#"><img src="/images/btn_register.jpg" /></a>
					</div>
					
					<div id="btnMarket">
						<a href="#"><img src="/images/shop.png" /></a>
					</div>
				</div>
				
			</div>
		</div>
	</body>
</html>