	
		<div id="rightSideContainer">
			<div id="loginForm">
				<div id="lblLoginHere"><span style="font-size: 25px">L</span>ogin <span style="font-size: 25px">H</span>ere!</div>
					
				<div id="loginInputContainer">
					<label>username</label>
					<input type="text" />
				</div>
				
				<div id="passwordInputContainer">
					<label>password</label>
					<input type="password" />
				</div>
				
				<div id="btnLoginContainer">
					<button><span style="display: inline-block;">LOGIN</span><span style="display: inline-block; margin-top: -40px;"><img src="/images/1109.gif" /></span></button>
				</div>
				
				<div id="lblForgotPassword"><a href="#">Forgot your PASSWORD?</a></div>
				
			</div>
			
			<div id="btnRegister">
				<a href="/register"><img src="/images/btn_register.jpg" /></a>
			</div>
			
			<div id="btnMarket">
				<a href="#"><img src="/images/shop.png" /></a>
			</div>
		</div>
		
	</div>
</div>